.gallery-wrapper {
  padding-top: 48px;
  overflow: hidden;

  .gallery-title {
    text-align: center;
    margin-top: 12px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  .gallery-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @media (min-width: 992px) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }

  .photo-card {
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 4px;
    transition: all 0.2s ease;

    &:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      transform: scale(1.1);
    }

    .image-wrapper {
      height: 240px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .stats {
      padding: 12px;

      .stats-item {
        margin: 4px 0;
        font-size: 12px;
        cursor: default;

        i, span {
          vertical-align: middle;
        }

        i {
          margin-right: 8px;
          color: #4214e2;
        }
      }
    }
  }
}
