.search-form {
  width: 100%;
  padding: 8px 16px;

  input {
    height: 32px;
    width: 100%;
    outline: none;
    border: none;
  }
}

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
