<div class="photo-card">
  <div class='image-wrapper'>
    <img src="{{webformatURL}}" alt="{{tags}}" data-largeImageURL="{{largeImageURL}}" />
  </div>

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      <span>{{likes}}</span>
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      <span>{{views}}</span>
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      <span>{{comments}}</span>
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      <span>{{downloads}}</span>
    </p>
  </div>
</div>
